@charset "UTF-8";
@import url(iconfont/iconfont.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

body,
button,
input,
select,
textarea,
a {
  font-family: sans-serif, "Microsoft YaHei", Tahoma, Helvetica;
  font-size: .28rem;
  line-height: 1; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:hover,
a:focus {
  outline: none; }

input[type='submit'],
textarea,
input[type='tel'],
input[type='date'],
input[type='password'],
input[type='text'],
input[type='radio'],
input[type='button'],
select {
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; }

.my_loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999; }

.my_loading img {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 35%;
  left: 50%;
  margin-top: 22px;
  margin-left: -22px; }

.layui-m-layercont {
  padding: 30px 30px 30px 30px !important; }

.layui-m-layer0 .layui-m-layerchild {
  width: 80% !important;
  max-width: 640px; }

/*清除浮动*/
.header {
  border-width: 0;
  border-style: solid;
  border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
  border-bottom-width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 2; }

header {
  display: -webkit-box;
  -webkit-box-align: center;
  position: relative;
  height: 1.0rem;
  padding: 0 0.20rem; }
  header .back {
    font-size: 0.46rem;
    width: 0.50rem;
    color: #000; }
  header .nav_list {
    -webkit-box-flex: 1;
    text-align: center;
    margin-left: -0.50rem; }
    header .nav_list .nav {
      display: inline-block;
      padding: 0 0.40rem;
      font-size: 0.36rem;
      color: #000; }
      header .nav_list .nav.current {
        color: #1abbcf; }

html, body {
  background: #f8f8f8;
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.0rem;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.surplus_box {
  background: #fff;
  padding: 0.50rem 0;
  text-align: center; }
  .surplus_box .surplus {
    margin-bottom: 0.50rem; }
    .surplus_box .surplus .dou {
      color: #ff9b0b; }
    .surplus_box .surplus .cash {
      color: #999999; }
  .surplus_box .link_box a {
    display: inline-block;
    color: #828282;
    border: 1px solid #828282;
    width: 1.44rem;
    line-height: 0.60rem; }
    .surplus_box .link_box a.recharge {
      color: #fff;
      background: #1abbcf;
      border: 1px solid #1abbcf;
      margin-left: 0.10rem; }

.title h3 {
  padding: 0 0.20rem;
  line-height: 0.80rem; }

.dou_box {
  display: -webkit-box;
  border-width: 0;
  border-style: solid;
  border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  border-bottom-width: 1px;
  padding: 0.20rem;
  background: #fff;
  color: #828282;
  font-size: 0.24rem;
  line-height: 1.28; }
  .dou_box .left_box {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    border-width: 0;
    border-style: solid;
    border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
    border-right-width: 1px; }
    .dou_box .left_box .cash {
      color: #1abbcf; }
    .dou_box .left_box .recharge {
      color: #ff9b0b; }
    .dou_box .left_box .dou_num {
      color: #000;
      font-size: 0.40rem; }
    .dou_box .left_box .left {
      width: 2.0rem; }
  .dou_box .right_box {
    padding-left: 0.20rem; }

/*# sourceMappingURL=my_dou.css.map */
