@charset "UTF-8";
@import url(iconfont/iconfont.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

body,
button,
input,
select,
textarea,
a {
  font-family: sans-serif, "Microsoft YaHei", Tahoma, Helvetica;
  font-size: .28rem;
  line-height: 1; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:hover,
a:focus {
  outline: none; }

input[type='submit'],
textarea,
input[type='tel'],
input[type='date'],
input[type='password'],
input[type='text'],
input[type='radio'],
input[type='button'],
select {
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; }

.my_loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999; }

.my_loading img {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 35%;
  left: 50%;
  margin-top: 22px;
  margin-left: -22px; }

.layui-m-layercont {
  padding: 30px 30px 30px 30px !important; }

.layui-m-layer0 .layui-m-layerchild {
  width: 80% !important;
  max-width: 640px; }

/*清除浮动*/
html, body {
  background: #f8f8f8;
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.content {
  height: 13.35rem;
  width: 100%;
  background: url("../images/big_bg.png") no-repeat center center;
  background-size: 100% 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.40rem; }

.header {
  display: -webkit-box;
  -webkit-box-align: center;
  color: #fff;
  padding: 0.30rem 0.20rem; }
  .header .back {
    width: 0.50rem;
    line-height: 0.45rem;
    font-size: 0.46rem; }
  .header .over {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(32, 32, 65, 0.5);
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    height: 0.50rem;
    margin: 0 0.8rem;
    font-size: 0.28rem; }

.head_img {
  text-align: center;
  padding: 0.34rem 0.20rem 0.50rem 0.20rem; }
  .head_img .img_box {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 1.60rem;
    height: 1.60rem;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #fff; }
    .head_img .img_box img {
      width: 100%;
      height: 100%; }
  .head_img .name {
    color: #fff;
    margin-top: 0.23rem;
    line-height: 1.4; }

.list_box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.20rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  width: 6.90rem;
  margin: 0 auto; }

.title {
  display: -webkit-box;
  -webkit-box-align: center; }
  .title .line {
    -webkit-box-flex: 1;
    height: 1px;
    background: rgba(55, 60, 102, 0.4);
    -webkit-transform-origin: 50% 0; }
  .title .center {
    padding: 0 0.20rem;
    color: #373c66;
    font-size: 0.30rem; }

.reward {
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0.30rem 0 0.30rem 0.10rem; }
  .reward .left {
    -webkit-box-flex: 1;
    display: block;
    line-height: 1.4; }
    .reward .left .top {
      color: #000;
      margin-bottom: 0.20rem; }
      .reward .left .top .dou {
        margin-left: 0.10rem; }
      .reward .left .top em {
        color: #ff9b0b; }
    .reward .left .bottom {
      color: #828282; }
  .reward .right {
    width: 1.05rem;
    height: 0.45rem;
    line-height: 0.45rem;
    padding-top: 2px;
    text-align: center;
    background: #ff5858;
    color: #fff;
    display: block;
    margin-left: 0.30rem; }
  .reward .get {
    background: #1abbcf; }
  .reward .over {
    background: transparent;
    color: #1abbcf; }

/*# sourceMappingURL=reward_list.css.map */
