@charset "UTF-8";
@import url(iconfont/iconfont.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

body,
button,
input,
select,
textarea,
a {
  font-family: sans-serif, "Microsoft YaHei", Tahoma, Helvetica;
  font-size: .28rem;
  line-height: 1; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:hover,
a:focus {
  outline: none; }

input[type='submit'],
textarea,
input[type='tel'],
input[type='date'],
input[type='password'],
input[type='text'],
input[type='radio'],
input[type='button'],
select {
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; }

.my_loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999; }

.my_loading img {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 35%;
  left: 50%;
  margin-top: 22px;
  margin-left: -22px; }

.layui-m-layercont {
  padding: 30px 30px 30px 30px !important; }

.layui-m-layer0 .layui-m-layerchild {
  width: 80% !important;
  max-width: 640px; }

/*清除浮动*/
html, body {
  background: #f8f8f8;
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  top: 1.0rem;
  left: 0;
  right: 0;
  bottom: 1.0rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.header {
  border-width: 0;
  border-style: solid;
  border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
  border-bottom-width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 2; }

header {
  display: -webkit-box;
  -webkit-box-align: center;
  position: relative;
  height: 1.0rem;
  padding: 0 0.20rem; }
  header .back {
    font-size: 0.46rem;
    width: 0.50rem; }
  header .nav_list {
    -webkit-box-flex: 1;
    text-align: center;
    margin-left: -0.50rem; }
    header .nav_list .nav {
      display: inline-block;
      padding: 0 0.40rem;
      font-size: 0.30rem;
      color: #000;
      font-weight: bold; }
      header .nav_list .nav.current {
        color: #1abbcf; }

.banner {
  position: relative;
  color: #828282;
  background: #fff;
  font-size: 0.24rem;
  line-height: 1.3;
  padding: 0.10rem 0.20rem; }
  .banner img {
    width: 100%;
    height: 3.5rem; }

.footer {
  border-width: 0;
  border-style: solid;
  border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-width: 1px;
  z-index: 2;
  background: #fff; }

footer {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-align: stretch;
  height: 1.0rem;
  height: 1.0rem; }
  footer .mes {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 1.10rem;
    text-align: center;
    color: #1abbcf;
    font-size: 0.70rem; }
  footer .appoint {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
    background: #1abbcf;
    color: #fff;
    font-size: 0.30rem; }
  footer .part_in {
    background: #b4b4b4; }

.module {
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  border-width: 0;
  border-style: solid;
  border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
  background: #fff;
  padding: 0.20rem;
  margin-bottom: 0.20rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: 0.20rem; }
  .module .right {
    font-size: 0.36rem;
    -webkit-transition: transform 0.3s ease; }
  .module.choose .left {
    color: #1abbcf; }
  .module.choose .right {
    -webkit-transform: rotateX(180deg); }

.time {
  padding: 0.20rem;
  background: #fff;
  margin-bottom: 0.20rem; }

.intro_box {
  background: #fff;
  color: #828282;
  padding: 0.20rem; }
  .intro_box h3 {
    color: #000;
    margin-bottom: 0.10rem; }

.intro {
  display: -webkit-box; }
  .intro .left_img {
    margin-right: 0.20rem; }
    .intro .left_img img {
      width: 2.27rem;
      height: 1.45rem; }
  .intro .right_txt {
    -webkit-box-flex: 1;
    text-align: justify;
    font-size: 0.24rem;
    line-height: 1.25; }

.store_list {
  margin-top: 0.20rem; }
  .store_list h3 {
    background: #fff;
    padding: 0.10rem 0.20rem;
    border-width: 0;
    border-style: solid;
    border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
    border-bottom-width: 1px; }

.address_box {
  display: -webkit-box;
  -webkit-box-align: center;
  border-width: 0;
  border-style: solid;
  border-image: url("data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 stretch;
  border-bottom-width: 1px;
  line-height: 1.2;
  font-size: 0.24rem;
  color: #828282;
  padding: 0.20rem;
  background: #fff; }
  .address_box .city {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 0.70rem;
    height: 0.70rem;
    background: #96dee7;
    font-size: 0.20rem;
    color: #fff; }
  .address_box .address {
    -webkit-box-flex: 1;
    padding: 0 0.20rem; }
    .address_box .address .address_name {
      color: #000;
      margin-bottom: 0.10rem; }
  .address_box i {
    font-size: 0.36rem;
    vertical-align: middle; }
  .address_box span {
    vertical-align: middle; }

.fixed {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-orient: vertical;
  position: absolute;
  right: 0.20rem;
  bottom: 1.50rem;
  width: 0.94rem;
  height: 0.94rem;
  background: #1abbcf;
  z-index: 999;
  color: #fff;
  font-size: 0.24rem; }
  .fixed i {
    font-size: 0.50rem; }

/*# sourceMappingURL=service_pack_detail.css.map */
