@charset "UTF-8";
@import "reset";
@import "mixins";
@import  "variable";
@import "iconfont/iconfont.css";
@import  "header2";
@import  "welfare";
html,body{
	background:#f8f8f8;
	width: 100%;
	height:100%;
}
.container{
	position: absolute;
	top:1.0rem;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}
.welfare{
	margin-top: 0.20rem;
}
