@charset "UTF-8";
@import "reset";
@import "mixins";
@import  "variable";
@import "iconfont/iconfont.css";
@import  "footer";
html,body{
	background:#f8f8f8;
	width: 100%;
	height:100%;
}
.container{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:1.0rem;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

.user_header{
	@include flexbox;
	@include vertical;
	text-align:center;
	background:url("../images/user_bg.png") no-repeat center center;
	background-size:100% 100%;
	height: 3.50rem;
	color:#fff;
	padding:0.40rem 0.30rem;
	.top_box{
		@include flexbox;
		@include horizontal-layout(justify);
		a{
			display:block;
		}
		i{
			color:#fff;
			font-size:0.50rem;
		}
		.left{
			position: relative;
			.circle{
				@include border-radius(50%);
				position: absolute;
				background:$main_r;
				display:block;
				width: 4px;
				height:4px;
				right: 0.03rem;
				bottom:0.04rem;
			}
		}
	}

	.user_img{
		.img_box{
			position: relative;
			display:inline-block;
			img{
				@include border-radius(50%);
				width: 1.34rem;
				height: 1.31rem;
			}
			.sex_img{
				@include flexbox;
				@include horizontal-layout(center);
				@include vertical-layout(center);
				@include border-radius(50%);
				position: absolute;
				background:#ff5e89;
				width: 0.32rem;
				height: 0.32rem;
				right:0;
				bottom:0.1rem;
				font-size:0.24rem;
			}
		}
	}
	.name_box{
		@include flexbox;
		@include horizontal-layout(center);
		text-align:center;
		font-size:0.30rem;
		margin-bottom:0.20rem;
		margin-top:0.10rem;
		.user_name{
			@include clamp(1);
			margin-right: 0.10rem;
			margin-left:0.50rem;
		}
		a{
			color:#fff;
			font-size:0.36rem;
			margin-top:-0.10rem;
			display:inline-block;
			width: 0.50rem;
		}
	}
	.dou_box{
		margin-bottom:0.15rem;
		a.num{
			color:#fff;
			text-decoration:underline;
		}
	}
	.link{
		a{
			display:inline-block;
			width: 1.20rem;
			line-height:0.40rem;
			text-align:center;
			color:$main_g;
			background:#fff;
		}
	}
}

.my_list{
	@include flexbox;
	background:#fff;
	padding:0.40rem 0;
	.mine{
		@include flex(1);
		@include flexbox;
		@include vertical;
		@include horizontal-layout(center);
		@include vertical-layout(center);
		@include border_1px;
		width: 0;
		border-right-width: 1px;
		color:#595757;
		i{
			font-size:0.50rem;
			display:block;
			margin-bottom:0.16rem;
		}
	}
}


.wait_title{
	padding:0.20rem;
}

.wait_service{
	@include flexbox;
	@include vertical-layout(center);
	@include border_1px;
	border-top-width:1px;
	border-bottom-width:1px;
	background:#fff;
	padding:0.20rem;
	font-size:0.24rem;
	color:#595757;
	line-height:1.3;
	margin-bottom:0.20rem;
	.left{
		@include flex(1);
		display:block;
		color:#000;
		h4{
			@include flexbox;
			font-size:0.28rem;
			color:#000;
			margin-bottom:0.10rem;
			span{
				margin-right:0.10rem;
			}
			a{
				color:#000;
				font-size:0.28rem;
			}
		}
		h5{
			color:#828282;
		}
	}
	.right{
		@include border_1px;
		border-left-width:1px;
		display:block;
		width: 1.40rem;
		text-align:center;
		margin-right:-0.20rem;
		img{
			width: 0.50rem;
			height: 0.50rem;
		}
	}
}

.detail_list{
	margin-top:0.20rem;
}
.detail{
	@include flexbox;
	@include vertical-layout(center);
	@include border_1px;
	border-bottom-width:1px;
	padding:0.20rem;
	background:#f8f8f8;
	color:#000;
	.detail_left{
		@include flex(1);
		@include flexbox;
		@include border_1px;
		border-right-width:1px;
		color:#000;
		font-size:0.24rem;
		.goods_left{
			@include flex(1);
			display:block;
			color:#595757;
		}
		.goods_right{
			padding:0 0.30rem;
			text-align:center;
			span{
				vertical-align:middle;
				margin-left:3px;
				color:#000;
			}
			i{
				color:$main_g;
			}
		}
	}
	.detail_right{
		display:block;
		width: 1.40rem;
		text-align:center;
		margin-right:-0.20rem;
		img{
			width: 0.50rem;
			height: 0.50rem;
		}
	}
}